.Loginform{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    margin-left: 5vh;
    margin-right: 5vh;
    border-radius: 10px;
    margin-top: 5vh;
    box-shadow: 6px 6px 8px 8px rgb(68, 67, 67);
    height: 82vh;
    
}
*{
    font-family:sans-serif;
    font-weight: 400;
}

.Loginform>form>input{
    padding: 0.8vmax;
    width: 100%;
    border: none;
    border-bottom: 0.1px solid rgb(117, 113, 113);
    background-color: white;
}
.Loginform>form>span>a{
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  margin-left: 12vmax;
}

.radios{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.radios>span{
    padding: 1vmax;
}

.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7vmax;
    
    

}

.button>button{
    padding: 10px 40px;
    background-color: green;
    color: black;
    border-radius: 5px;
      

}
.button>button:hover{
   background-color:blue;
cursor: pointer;
}



.or{
    margin-left: 12vmax;
}
.fb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}

.fb>button{
   
    padding: 2px 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
}
.fb>button>svg{
    fill: white;
}


.fb>button:hover{
    background-color: rgb(130, 130, 223);
    cursor: pointer;

}

.Loginform>form>h2{
    padding-left: 10vmax;
    font-size:x-large;
}
.fb>a{
    text-decoration: none;
    color: black;
    margin-top: 1vmax;
}
.fb>a:hover{
   color: rgb(53, 48, 48);

}
#login{
    background-color: green;
    border: none;
    color: white;
    padding: 8px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
#login:hover{
    background-color: rgb(137, 137, 204);
}
